@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;

    font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
}

body{
    background-color: #FFFFFF;
}

.x-area-mobile{
    max-width: 600px;
    height: 100vh;
    /* background-color: red; */
    display: block;
    margin: 0 auto;
    
}


.x-banner-inicial{
    width: 100%;
    height: 100vh;
    background-color: blue;
    background-image: url(/images/triagem.png);
    background-position: center;
    background-size: cover;

    display: flex; /* Ativa o Flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: flex-end; /* Alinha na parte inferior (embaixo) */
    height: 100vh; /* Altura do container ocupando a tela inteira */
    border: 1px solid black; /* Apenas para visualização */
}

.x-banner-inicial-atendimento{
    width: 70%;
    height: 50px;
    background-color: #fff;
    margin-bottom: 100px;
    border-radius: 15px;
    filter: drop-shadow(1px 1px 20px  rgba(0, 0, 0, 0.514));
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4340a0;
}



.x-select-function{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #fff;
    top: 1500px;
    transition: all 0.3s;
    overflow: auto;;
}



.x-select-function-sec-1{
    width: 70%;
    height: 300px;
    background-color: red;
    margin: 20px auto;
    display: flex;
    border-radius: 30px;
}



.x-select-function-desc{
    position: fixed;
    bottom: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;;
    margin: 0 auto;
    display: none;
}


.x-select-function-desc-btn{
    width: 70%;
    background: linear-gradient(135deg, #B34053, #592589);
    text-align: center;
    color: #fff;
    padding: 20px 7px;
    border-radius: 7px;
}



.x-select-function-sintomas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.x-select-function-sintomas-card{
    font-weight: 400;
    margin: 10px;
    border-radius: 7px;
    background-size: cover;
    padding: 3px 7px;
    border: 1px solid rgb(175, 175, 175);
}


.x-select-function-banner{
    background-image: url(/images/med-card.png);
    width: 95%;
    height: 200px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 15px auto;
    border-radius: 15px;;
    filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.438));
}


.x-select-function-banner-triagem{
    width: 45%;
    aspect-ratio: 1; /* Garante que a altura seja igual à largura */
    background-image: url(/images/triagem-card.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    border-radius: 7px;
    filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.438));
}

.x-select-function-banner-sintomas{
    width: 45%;
    aspect-ratio: 1; /* Garante que a altura seja igual à largura */
    background-image: url(/images/sintomas-card.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    border-radius: 7px;
    filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.438));
}    

.x-select-function-area{
    display: flex;
    margin-top: 20px;
}


.pergunte-med-ia{
    display: flex;
    align-items: center;
    justify-content: center;
}


.pergunte-med-ia input{
    background-color: #ececec;
    border: none;
    padding: 17px 20px;
    border-radius: 15px;
    font-weight: 200;
    width: 90%;
    margin-top: 10px;
}



.modal-triagem{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5) ;
    position: fixed;
    top: 0;
    backdrop-filter: blur(10px); /* Adiciona o desfoque */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidade com navegadores baseados em Webkit */
    display: flex;
    align-items: center;
    justify-content: center;        
}

.modal-triagem-area{
    width: 95%;
    background-color: #fff;
    min-height: 200px;
    border-radius: 15px;
    padding-bottom: 20px;
}

.modal-triagem-area-sintomas{
    height: 100px;
    width: 90%;
    display: flex;
    margin: 10px auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.modal-triagem-area-sintomas div{
    margin: 2px;
    font-size: 11px;
    font-weight: 600;
    border: 1px solid rgb(104, 11, 99);
    color: #592589;
    height: 17px;
    padding: 2px;
    border-radius: 5px;
}


.modal-triagem-area .title{
    text-align: center;
    font-weight: 500;
    padding: 0 20px;
}

.modal-triagem-area-textarea{
    margin: 0 auto;
    display: block;
    font-weight: 200;
    margin-top: 10px !important;
    
}


.layout-input{
    border: 1px solid rgb(139, 139, 139);
    margin-top: 17px;
    margin: 0 auto;
    display: block;
    border-radius: 1px;
    padding: 5px;
}


.modal-triagem-area-enviar, #saibamais button{
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    padding: 6px;
    font-weight: 500;
    font-size: 14px;
    border: none;
    color: white;
    background-color: #B34053;
    border-radius: 4px;
}

#saibamais input {
    border-radius: 4px;
    padding: 6px;
}

#saibamais label {

}





/* From Uiverse.io by mrhyddenn */ 
.spinner {
    width: 3em;
    height: 3em;
    cursor: not-allowed;
    border-radius: 50%;
    border: 2px solid #444;
    box-shadow: -10px -10px 10px #6359f8, 0px -10px 10px 0px #9c32e2, 10px -10px 10px #f36896, 10px 0 10px #ff0b0b, 10px 10px 10px 0px#ff5500, 0 10px 10px 0px #ff9500, -10px 10px 10px 0px #ffb700;
    animation: rot55 0.7s linear infinite;
  }
  
  .spinnerin {
    border: 2px solid #444;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @keyframes rot55 {
    to {
      transform: rotate(360deg);
    }
  }

  
  .carregamento{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
  }


  .Bandeira{
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: red;
}

.resultado{
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.hospitais{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hosp{
    width: 80%;
    background-color: #fff;
    filter: drop-shadow(1px 1px 10px  rgba(0, 0, 0, 0.178));
    margin: 5px 0;
    padding: 10px;
    border-radius: 20px;
}

